.body{
    margin: 0px;
    padding: 0px;
}

/* Home page */

.homePage{
    background-image: url('https://assets.teenvogue.com/photos/57e2a423046b3a2e2a7366d1/master/w_1600,c_limit/nike-self-lacing-sneakers.jpg');
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.title{
    color: #FD5D5D;
    font-weight: 700;
    font-size: 3em;
}

.homePageHeader{
    color: white;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 900;
    font-size: 1.3rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.showNowBtnContainer{
    margin-bottom: 15vh;
}

.showNowBtn{
    background-color:#FD5D5D;
    text-transform: uppercase;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    width: 110%;
    padding: 3%;
}

/* Shopping Page */

.shoppingContainer{
    display: none;
    flex-direction: column;
    background-color: gainsboro;
}

.shoppingHome{
    display: none;
}

.menu{
    display: flex;
    font-size: clamp(1rem, 3vw, 30rem);
}

.headerContent{
    display: none;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:2vw 1vw;
    height: 3vh;
}

.navSearchBtn{
    width: 20vw;
    border-radius: 10px;
    background-color: #ffffff;
}

.searchInput{
    border: 0px;
    width: 5vw;
}

.icon{
    width: 10%;
    height: 10%;
}


.shoppingContent{
    overflow-y: auto;
    height: 89vh;
}

.headerCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    margin-left: 2vw;
    width: 95vw;
    border-radius: 2rem;
    background-image: radial-gradient(rgb(83, 158, 172),rgb(14, 7, 7));
}

.headerCardContent{
    margin-left: 10%;
    color: white;
    font-weight: bold;
    font-size: clamp(1rem, 3vw, 30rem);
}

.headerBtn{
    border: 0px;
    color: #ffffff;
    font-weight: bold;
    padding: .3rem;
    margin-top: .5rem;
    border-radius: 1em;
    font-size: clamp(1rem, 1.5vw, 5rem);
    background-image: linear-gradient(orange, #E45826);
}

.newArrivalImg{
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 50%;
    height: 100%;
}

.categoryContainer{
    display: flex;
    margin: 1em 0px;
    font-size: clamp(1rem, 2.5vw, 5rem); 
}

.categoryCard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    margin:0px .5vw;
    border-radius: .5rem;
    padding: .5rem;
    background-image: linear-gradient(orange, #E45826);
}

.ctgImg{
    width: 8vw;
    border-radius: 200rem;

}

/* mens collection */

.mensCollContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
}

.mensCollContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: clamp(1rem, 2.5vw, 5rem);
    font-weight: bold;

}
.menCollHeader{
    margin-left: 3vw;
}
.menCollPara{
    color: gray;
    margin-right: 3vw;
}

.mensCollCard{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 55vh;
}

.collCard{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
    width: 45%;
    font-size: clamp(1rem, 2vw, 5rem);
}

.collCardImg{
    width: 90%;
    height: 70%;
    margin-bottom: .5rem;
}

.collCardTitle{
    color: #E45826;
}

.collCardPrice{
    margin:2vw 0px;
}

.shoppingFooter{
    background-color:#ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vh;
}

.footerBtn{
    border: 0px;
}

.footerIcons{
    font-size: clamp(1rem, 4vw, 8rem);
}

@media screen and (min-width:480px) {

    .headerContent{
        display: flex;
        justify-content: space-between;
        width: 50vh;
        font-size: clamp(1rem, 2vw, 5rem); 
    }
    .navBar{
        justify-content: space-between;
        height: 3vh;
        margin: 3vh 2vh;
    }
    .headerCard{
        height: 50%;
    }

    .mensCollCard{
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        height: 100%;
        margin: 1rem 0px;

    }
    .collCard{
        text-align: center;
        justify-content: space-evenly;
        width: 11vw;
        height: 13vw;
        margin:0px;
        margin-right: .5rem;
        font-size: clamp(1rem, 1vw, 5rem);
    }

    .collCardImg{
        width: 100%;
        height: 50%;
    }

    .collCardPrice{
        margin: 0px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .shoppingFooter{
        display: none;
    }

    .shoppingHome{
        display: flex;
        justify-content: space-around;
        font-size: clamp(1rem, .8vw, 5rem);
        margin-right: 1.5vh;
        width: 30vw;

    }

    .footerIcons{
        font-size: clamp(1rem, 2.5vw, 5rem);
    }
    .menu{
        display: none;
    }
    
}